<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Properties>
        <Property name="log-path">/var/logs/nd</Property>
    </Properties>
    <Appenders>
        <RollingFile  name="info-log" fileName="${log-path}/ND-info.log" append="true"
                      filePattern="${log-path}/$${date:yyyy-MM}/ND-info-%d{yyyyMMdd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn"  onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug"  onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout>
                <pattern>%d %-18.18M - [%X{token}] - %m - %-22.22c{1} %n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile >
        <RollingFile  name="warn-log" fileName="${log-path}/ND-warn.log" append="true"
                      filePattern="${log-path}/$${date:yyyy-MM}/ND-warn-%d{yyyyMMdd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn"  onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info"  onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug"  onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout>
                <pattern>%d %-18.18M - [%X{token}] - %m - %-22.22c{1} %n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile >       
        <RollingFile  name="error-log" fileName="${log-path}/ND-error.log" append="true"
                      filePattern="${log-path}/$${date:yyyy-MM}/ND-error-%d{yyyyMMdd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn"  onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info"  onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug"  onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout>
                <pattern>%d %-18.18M - [%X{token}] - %m - %-22.22c{1} %n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile >
        <RollingFile  name="debug-log" fileName="${log-path}/ND-debug.log" append="true"
                      filePattern="${log-path}/$${date:yyyy-MM}/ND-debug-%d{yyyyMMdd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn"  onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info"  onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug"  onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout>
                <pattern>%d %-18.18M - [%X{token}] - %m - %-22.22c{1} %n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile >		
    </Appenders>
    <Loggers>
        <Logger name="vn.netbit" additivity="false">            
            <appender-ref ref="warn-log" level="warn"/>            
            <appender-ref ref="error-log" level="error"/>
            <appender-ref ref="debug-log" level="debug"/>
            <appender-ref ref="info-log" level="info"/>
        </Logger>
        <Root level="ALL">			
        </Root>		
    </Loggers>
</Configuration>