<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Material Login Form</title>
  <link rel="stylesheet" href="/css/login.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  
</head>

<body>
  
<!-- Mixins-->
<!-- Pen Title-->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Đăng ký</h1>
            <div class="account-wall">
                <img class="profile-img" src="/images/user.jpg"
                    alt="">
                <form class="form-signin" th:action="@{/register}" method="post">
                    <input type="text" name="fullname" class="form-control" placeholder="Họ và tên" required autofocus>
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                    <label class="checkbox pull-left">
                        <input type="checkbox" name="term" required>
                        Đồng ý với <a href="">điều khoản và nội quy</a>.
                    </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng ký</button>
                <p class="error-msg"  th:text="${msg==null?null:msg}">
                </p>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
